/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

/*GENERIC STYLING*/

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}


/*NAVIGATION BAR*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

#navbar-logo {
    width: 100px;
    height: 100px;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link--list-item {
    margin: 0 12px;
}

.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-circle-half-stroke {
    font-size: 30px;
}